/****************************************
   Project:  Zen Garden
   Filename: style.css
   Authors:  Adam Finder, Caleb Willden 
*****************************************/
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Play&display=swap");
@keyframes hover {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
body {
  background-color: #212121;
  background-image: url("/assets/space.svg");
  font-family: "play", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nova Square", cursive;
}

h3 {
  margin-top: 0px;
  margin-bottom: -0.75rem;
  padding-top: 2em;
  padding-left: 1rem;
}

p {
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: #f03120;
}
a:hover {
  color: #d4af37;
}

div[role=article] {
  background: #E0E0E0;
}

#css-zen-garden {
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#zen-intro::before {
  background-image: url("/assets/logo.svg");
  background-size: 220px 80px;
  width: 220px;
  height: 80px;
  display: block;
  margin: auto;
  content: "";
}
#zen-intro header {
  background: url("/assets/lander-top.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  width: 100%;
  max-width: 20rem;
  height: 10rem;
  margin: auto;
  margin-top: 3rem;
}
#zen-intro header h1 {
  display: none;
}
#zen-intro header h2 {
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: 5.4rem;
}
#zen-intro .summary {
  background: url("/assets/lander-bottom.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  max-width: 20rem;
  height: 10rem;
  margin: auto;
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 15em;
}
#zen-intro .summary p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
  font-size: 0.6rem;
  color: white;
}
#zen-intro .summary p:nth-child(2) {
  width: 45%;
}
#zen-intro .summary::before {
  content: "";
  background: url("/assets/lander-flame.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  max-width: 20rem;
  height: 10rem;
  display: block;
  margin: auto;
  position: absolute;
  margin-top: 6rem;
  margin-left: 0.3rem;
  z-index: -1;
}
#zen-intro header,
#zen-intro .summary {
  -webkit-animation: hover 1s infinite alternate;
  animation: hover 1s infinite alternate;
}

#zen-summary {
  width: 33em;
  height: 33em;
  margin: auto;
}

#zen-preamble::before {
  content: "";
  background: url("/assets/moon-surface.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 100%;
  height: 200px;
  position: absolute;
  display: block;
  margin-top: -199px;
}

footer {
  background-color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 2rem;
  font-weight: bold;
}
footer::after {
  content: "";
  background: url("/assets/moon-surface.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 100%;
  height: 200px;
  position: absolute;
  display: block;
  margin-top: 3.05rem;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

aside {
  width: fit-content;
  margin: auto;
  color: #d4af37;
  padding-top: 4vw;
  padding-bottom: 3vw;
  -webkit-transform: perspective(300px) rotateX(15deg);
  transform: perspective(300px) rotateX(15deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
aside h3 {
  padding-top: 0;
}
aside a {
  color: #d4af37;
}
aside a:hover {
  color: #f03120;
}

@media (min-width: 60em) {
  #zen-preamble * {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  #zen-supporting {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 25em 25em auto;
    grid-template-columns: auto 25em 25em auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "left-margin explanation   requirements right-margin" "left-margin participation requirements right-margin" "left-margin benefits      benefits     right-margin" "left-margin footer        footer       right-margin";
    background: #E0E0E0;
  }

  #zen-explanation {
    grid-area: explanation;
  }

  #zen-participation {
    grid-area: participation;
  }

  #zen-requirements {
    grid-area: requirements;
  }

  #zen-benefits {
    grid-area: benefits;
  }

  footer {
    grid-area: footer;
  }

  aside {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  aside .wrapper {
    width: 40rem;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: "select archives" "select resources";
  }

  #design-selection {
    grid-area: select;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  #design-archives {
    grid-area: archives;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  #zen-resources {
    grid-area: resources;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

/*# sourceMappingURL=style.css.map */
