/****************************************
   Project:  Zen Garden
   Filename: style.css
   Authors:  Adam Finder, Caleb Willden 
*****************************************/

// Filepaths
$assets-path: "/assets";

// Size Variables
$logo-width: 220px;
$logo-height: 80px;

$content-width: 1080px;
$header-width: 400px;

// Colors are used for visualizing section elements and layout
$gold: #d4af37;
$black: #212223;
$gray: #99979b;
$white: #fff9fb;
$red: #f03120;
$blue: #2e58a8;

$color-1: $black;
$color-2: $gray;
$color-3: $red;
$color-4: $gold;
$color-5: $white;

$space: $black;
$moon-surface: #E0E0E0;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Play&display=swap');

$font-1: 'Nova Square', cursive;
$font-2: 'play', sans-serif;

$heading-font: $font-1;
$body-font: $font-2;

// Size Variables
$moon-surface-height: 12vw;

// Mixins


// @mixin crater-sm {
//     width: 50%;
// }

// #zen-whatever {
//     @include crater-sm();
// }

// Color everything for visualization
body {
    background: $color-1;
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-font;
}

h3 {
    margin-top: 0px;
    margin-bottom: -0.75rem;
    padding-top: 2em;
    padding-left: 1rem;
}

p {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    color: $red;
}

// BOX EVERYTHING
/*.*/page-wrapper{
    &>* {
        background: $color-1;
        margin: 0;
    
        &>* {
           background: $color-2;
           padding: 4px;
           margin: 4px 0;
           
           &>* {
               background: $color-3;
            //    padding: 4px;
            //    margin: 4px;
           }
        }
    }
}

div[role=article] {
    background: $moon-surface;
}

// RESET
#css-zen-garden {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// INTRO
#zen-intro {

    &::before {
        background-image: url($assets-path + "/logo/logo.svg");
        background-size: $logo-width $logo-height;
        width: $logo-width;
        height: $logo-height;
        display: block;
        margin: auto;
        content: "";
    }

    header {
        // Top of the Lander
        background: url($assets-path + "/lander-top.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        width: 100%;
        max-width: 20rem;
        height: 10rem;
        margin: auto;
        
        h1 {
            display: none; // We already have a logo
        }

        h2 {
            width: 40%;
            margin: auto;
            text-align: center;
            font-size: 1rem;
            position: relative;
            top: 5.4rem;
        }
    }

    // Bottom of the Lander
    .summary {
        background: url($assets-path + "/lander-bottom.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        width: 100%;
        max-width: 20rem;
        height: 10rem;
        margin: auto;
        text-align: center;
        margin-top: -1.5rem;

        p {
            width: 75%;
            margin: auto;
            padding-top: 1em;
            font-size: 0.6rem;
            color: white;

            &:nth-child(2) {
                width: 45%;
            }
        }

        // Flame
        &::before {
            content: "";
            background: url($assets-path + "/lander-flame.svg");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: top;
            width: 100%;        
            max-width: 20rem;
            height: 10rem;
            display: block;
            margin: auto;
            position: absolute;
            margin-top: 6rem;
            margin-left: 0.3rem;
            z-index: -1;
        }

        margin-bottom: 10em;
    }
}

#zen-summary {
    width: 33em;
    height: 33em;
    margin: auto;
}

// PREAMBLE
#zen-preamble {

    // Curved Moon Surface
    &::before {
        content: "";
        background: url($assets-path + "/moon-surface.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 100%;
        height: $moon-surface-height;
        position: absolute;
        display: block;
        margin-top: -$moon-surface-height;
    }
}

footer {
    // Curved Moon Surface
    &::after {
        content: "";
        background: url($assets-path + "/moon-surface.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 100%;
        height: $moon-surface-height;
        position: absolute;
        display: block;
        margin-bottom: -$moon-surface-height;
        transform: scaleY(-1);
    }

}

aside {
    position: relative;
    top: 10em;
}

// ****************************************
// DESKTOP
// ****************************************
@media (min-width: 60em) {
    
    .page-wrapper {
        max-width: $content-width;
    }

    #zen-intro {

        &::before {
            display: block;
            margin: 0 auto;
        }

        header,
        #zen-summary {
            width: $header-width;
            margin: 0 auto;
        }
    }

    #zen-preamble,
    #zen-explanation {
        width: 100%;
    }

    #zen-supporting {
        position: relative;
        width: 100%;
        
        div[role="article"] {
            width: 50%;
        }

        footer {
            width: 100%;
        }
    }
    
    #zen-benefits {
        position: absolute;
        top: 0;
        right: 0;
    }
        
    aside {
        width: 532px;
        position: absolute;
        left: 540px;
        top: 580px;
    }
}

