/****************************************
   Project:  Zen Garden
   Filename: style.css
   Authors:  Adam Finder, Caleb Willden 
*****************************************/

// Filepaths
$assets-path: "/assets";

// Size Variables
$logo-width: 220px;
$logo-height: 80px;

$content-width: 1080px;
$header-width: 400px;

// Colors are used for visualizing section elements and layout
$gold: #d4af37;
$black: #212121;
$gray: #E0E0E0;
$white: #fff9fb;
$red: #f03120;
$blue: #2e58a8;

$space: $black;
$moon-surface-color: #E0E0E0;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Play&display=swap');

$font-1: 'Nova Square', cursive;
$font-2: 'play', sans-serif;

$heading-font: $font-1;
$body-font: $font-2;

// Size Variables
$moon-surface-height: 200px;

// Animation
@keyframes hover {
    100% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
}
  
body {
    background-color: $black;
    background-image: url($assets-path + "/space.svg");
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-font;
}

h3 {
    margin-top: 0px;
    margin-bottom: -0.75rem;
    padding-top: 2em;
    padding-left: 1rem;
}

p {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    color: $red;

    &:hover {
        color: $gold;
    }
}

div[role=article] {
    background: $moon-surface-color;
}

// RESET
#css-zen-garden {
    margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

// INTRO
#zen-intro {

    &::before {
        background-image: url($assets-path + "/logo.svg");
        background-size: $logo-width $logo-height;
        width: $logo-width;
        height: $logo-height;
        display: block;
        margin: auto;
        content: "";
    }

    header {
        // Top of the Lander
        background: url($assets-path + "/lander-top.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        width: 100%;
        max-width: 20rem;
        height: 10rem;
        margin: auto;
        margin-top: 3rem;
        
        h1 {
            display: none; // We already have a logo
        }

        h2 {
            width: 40%;
            margin: auto;
            text-align: center;
            font-size: 1rem;
            position: relative;
            top: 5.4rem;
        }
    }

    // Bottom of the Lander
    .summary {
        background: url($assets-path + "/lander-bottom.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        width: 100%;
        max-width: 20rem;
        height: 10rem;
        margin: auto;
        text-align: center;
        margin-top: -1.5rem;

        p {
            width: 75%;
            margin: auto;
            padding-top: 1em;
            font-size: 0.6rem;
            color: white;

            &:nth-child(2) {
                width: 45%;
            }
        }

        // Flame
        &::before {
            content: "";
            background: url($assets-path + "/lander-flame.svg");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: top;
            width: 100%;        
            max-width: 20rem;
            height: 10rem;
            display: block;
            margin: auto;
            position: absolute;
            margin-top: 6rem;
            margin-left: 0.3rem;
            z-index: -1;
        }

        margin-bottom: 15em;
    }

    header,
    .summary {
        -webkit-animation: hover 1s infinite alternate;
                animation: hover 1s infinite alternate;
    }
}

#zen-summary {
    width: 33em;
    height: 33em;
    margin: auto;
}

// PREAMBLE
#zen-preamble {

    // Curved Moon Surface
    &::before {
        content: "";
        background: url($assets-path + "/moon-surface.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 100%;
        height: $moon-surface-height;
        position: absolute;
        display: block;
        margin-top: -$moon-surface-height + 1px;
    }
}

footer {
    background-color: #E0E0E0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2rem;
    font-weight: bold;

    // Curved Moon Surface
    &::after {
        content: "";
        background: url($assets-path + "/moon-surface.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 100%;
        height: $moon-surface-height;
        position: absolute;
        display: block;
        margin-top: 3.05rem;
        -webkit-transform: scaleY(-1);
            -ms-transform: scaleY(-1);
                transform: scaleY(-1);
    }
}

aside {
    width: fit-content;
    margin: auto;
    color: #d4af37;
    padding-top: 4vw;
    padding-bottom: 3vw;
    -webkit-transform: perspective(300px) rotateX(15deg);
            transform: perspective(300px) rotateX(15deg);
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    
    h3 {
        padding-top: 0;
    }
    

    a {
        color: $gold;

        &:hover {
            color: $red;
        }
    }
}

// ****************************************
// DESKTOP
// ****************************************
@media (min-width: 60em) {

    #zen-preamble * {
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    // SUPPORTING
    #zen-supporting {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 25em 25em auto;
        grid-template-columns: auto 25em 25em auto;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
          "left-margin explanation   requirements right-margin"
          "left-margin participation requirements right-margin"
          "left-margin benefits      benefits     right-margin"
          "left-margin footer        footer       right-margin";
        background: $moon-surface-color;
    }

    #zen-explanation {
        grid-area: explanation;
    }

    #zen-participation {
        grid-area: participation;
    }

    #zen-requirements {
        grid-area: requirements;
    }

    #zen-benefits {
        grid-area: benefits;
    }

    footer {
        grid-area: footer;
    }

    // ASIDE
    aside {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    
        .wrapper {
            width: 40rem;
            margin: auto;
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 2fr 1fr;
            grid-template-columns: 2fr 1fr;
            -ms-grid-rows: 1fr auto;
            grid-template-rows: 1fr auto;
            grid-template-areas: "select archives" "select resources";
        }
    }

    #design-selection {
        grid-area: select;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
      }
    
      #design-archives {
        grid-area: archives;
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
    
      #zen-resources {
        grid-area: resources;
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }

}

